@import "../../../../styles/variables.scss";

.contact {
    border-top: 1px solid $grey;

    .grid {
        align-items: center;

        .text {
            h1 {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            img {
                width: 80%;
            }
        }
    }

    @media screen and (max-width: 600px) {
        text-align: center;

        .grid {
            .logo {
                justify-content: center;
                margin-top: 2rem;
            }
        }
    }
}