@import "../variables.scss";

.projects {

    .testimonial {
        h1 {
            font-size: 1.5rem;
        }
    }


    .grid {
        border-top: 1px solid $light-grey;

        .project {
            cursor: pointer;
            position: relative;
            display: block;

            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40%;
                z-index: 3;
                background-image: linear-gradient(to top, rgba($dark-blue, 0.75), rgba($dark-blue, 0));
                transition: 0.3s ease-in-out;
            }

            .text {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 0 1rem;
                z-index: 5;

                h3 {
                    margin: 0;
                    padding: 1rem 0;
                    border-top: 2px solid $light-blue;
                    color: white;
                    transition: 0.3s ease-in-out;
                }
            }

            &:hover {

                .overlay {
                    height: 75%;
                }

                .text {
                    h3 {
                        padding-bottom: 1.25rem;
                    }
                }
            }
        }
    }
}