@import "../variables.scss";

.solutions {

    .intro>div {
        padding-bottom: 0;
    }

    .approach {
        background-color: rgba($color: $grey, $alpha: 0.15);

        .text {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                color: $light-blue;
            }

            p {
                line-height: 1.5;
                font-weight: 500;
                font-size: 1.1rem;
            }
        }
    }

    .structure {
        border-bottom: 1px solid $light-grey;

        .block {

            .text {
                h3 {
                    color: $light-blue;
                    font-size: 1.4rem;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        line-height: 1.5;
                        font-weight: 500;

                        span {
                            font-weight: 600;
                        }
                    }
                }
            }

        }
    }
}