@import "../../../../styles/variables.scss";

.nav {
    position: sticky;
    padding: 2rem 0;

    .links {
        display: flex;
        justify-content: flex-end;

        a {
            margin-left: 1rem;
            font-weight: 500;

            &.active {
                color: $light-blue;
            }
        }
    }
}