@import "./variables.scss";

// GENERAL & Baseline
html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  font-family: $font;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  color: $grey;
  transition: 0.3s ease-out;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.noscroll {
    height: 100vh;
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: unset;
}




// --------------------------------------------
// UI

// Typography

.heading {
  padding: 3rem 0;

  h1 {
    color: $dark-blue;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
  }
}

.divider {
  border: none;
  border-top: 0.5px solid $grey;

}



// ScrollBar

::-webkit-scrollbar {
  width: 6px;

  &-track {
    background: $white;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &-thumb {
    background: $light-blue;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;

    &:hover {
      background: $dark-blue;
    }
  }
}

.button {
  background-color: $light-blue;
  font-size: 0.8rem;
  color: $white;
  display: inline-block;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border: 2px solid $light-blue;

  &:hover {
    background-color: transparent;
    color: $dark-blue;
  }
}